body{
	background-image: url(../img/background2.jpg);
	background-width: 100%;
	background-position: right 96px;
  background-repeat: repeat-x;
  overflow-x:hidden;
}
.jumbotron{
	background-image: url(../img/background.jpg);
	height: 96px;
	background-size: cover;
	align-items: center;
	width: 100%;
}
.modal{
  margin-top: 96px;
}
/*Navbar poÄetak*/
#navbar{
	background-color: white;
  border: none;
  border-bottom:1px solid rgb(225,225,225);
  width: 100%;
  height: 50px;
    -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 9999;
}
.navbar-default .navbar-nav > li{
  background-color: white;
  border: 1px solid rgb(225,225,225);
  height: 50px;
}
.navbar-default .navbar-nav > li:hover{
	background-color: rgb(218,224,224);

  border: 1px solid rgb(225,225,225);
  height: 50px;
}
.navbar-default .navbar-nav > li:active, .navbar-default .navbar-nav > .active{
	background-color: rgb(249,250,250);
  border: 1px solid rgb(225,225,225);
  border-bottom: none;
  height: 50px;
}
@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #f7f7f7;}
.collapsing ul li a, .in ul li a {color: black!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: black!important;}
.collapsing .navbar-default .navbar-nav > li:hover{
  border: 1px solid rgb(225,225,225);
  border: none;}

}

.collapsing{

}
/*Navbar kraj*/

#unesi{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-sm-8{
	width:100%;
}
.col-sm-8 h1{
  font-weight: bold;
  text-align: center;
}
.col-sm-8 h1 img{
  height: 40px;
  margin-bottom: 5px;
}

section{
	padding-top: 5px;
}

/*Navbar statistika*/
#navbar2{
  background-color: white;
  border: none;
  border-bottom:1px solid rgb(225,225,225);
  height: 50px;
}
#navbar2 .navbar-nav > li{
  background-color: #CFD8D8;
  border: 1px solid rgb(225,225,225);
  height: 50px;
}
#navbar2 .navbar-nav > li:hover{
  background-color: rgb(225,225,225);

  border: 1px solid rgb(225,225,225);
  height: 50px;
}
#navbar2 .navbar-nav > li:active, #navbar2 .navbar-nav > .active{
  background-color: rgb(249,250,250);
  border: 1px solid rgb(225,225,225);
  border-bottom: none;
  height: 50px;
}
/*Navbar statistika2*/
#navbar2{
  margin-bottom: 0px;
}

#statistika{
  background-color: rgb(249,250,250);
  border-right: 1px solid rgb(225,225,225);
  border-left: 1px solid rgb(225,225,225);
  border-bottom: 1px solid rgb(225,225,225);
  min-height: 410px;

}
#ostalo{
  background-color: rgb(249,250,250);
  border: 1px solid rgb(225,225,225);
  padding: 10px;

}

.col-sm-4 table,.col-sm-4 th,.col-sm-4 td{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  font-size: 16px;
  text-align: center;
}
.col-sm-4 td{
  padding: 3px;
}

.col-sm-6 table,.col-sm-6 th,.col-sm-6 td{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  font-size: 16px;
  text-align: center;
}
.col-sm-6 td{
  padding: 3px;
}

#hranaStatistika table, #hranaStatistika th, #hranaStatistika td{
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  border: solid 2px black;
  text-align: center;
  text-align: left;
}
#hranaStatistika2 table, #hranaStatistika2 th, #hranaStatistika2 td{
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
  border: solid 2px black;
  text-align: center;
  text-align: left;
  width: 200px;
}

#blur{
  filter:grayscale(100%);
}

.col-md-12{
  text-align: center;
}
.col-lg-4{
  text-align: center;
}

.col-lg-4 ul{
  list-style-type: none;
  text-align: left;
}
.col-lg-4 hr{
  border-color: rgb(225,225,225);
}

footer .col-lg-12{
  background-color: black;
  color: white;
  height: 60px;
  width:100%;
}
.progress-bar p{
	color: black;
}

#hrana table, #hrana th, #hrana tr, #hrana td{
	border: none;
}
#hrana th{
	border-bottom: solid 2px black;
}

#hrana td, #hrana th{
	background-color: rgb(249,250,250);
	padding: 4px;
}
#hrana #td2{
	background-color: rgb(225,225,225);
}

.panel{
  max-height: 310px;
  min-height: 310px;
}
#scrollable{
  overflow-y: scroll;
}

#panelhrana{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#panelhrana li button{
  width: 100%;
    -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#table3 td{
  border: 1px solid;
  border-color: rgb(204,204,204);
  padding: 5px;
}
button a:hover{
  text-decoration: none;
}

#center{
  text-align: center;
}
#era{
  text-align: center;
}